/* rest */
html,body,h1,h2,h3,h4,p,a {margin:0;padding:0;}

body {
    background-color: black;
}

.full_screen_container {
    width: 100%;
    height: 100vh;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_ctnr {
    max-height: 80px;
    overflow: hidden;
}

.greeting {
    color: #fff;
}